/*This is an element selector*/
a {
    color:black

}
article{
    text-align:justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
#redcolor{
    color: red;
    font-style: italic;
    font-size: 2.5em;  
}
#bluecolor {
    color: blue;
    font-style: bold;
    font-size: 2.5rem;
    background-color:#000000;
}

/*This is a class selector*/
.mybackground {
    background-color:aqua;
    color: rgb(255, 255, 255, 0.9), 
}
.box {
    border-style: solid;
    border-width: 5px;
    width: 100px;
    height: 100px;
    background-color:blueviolet;
    border-radius: 100%;
    box-sizing: border-box;
    /*margin-right: 50; */
    color:rgb(15, 15, 15);
    margin-left: 100px;
}
.testing {
   /* margin-left: 30px; 
    margin-top: 30px; */
    padding-left: 50px;
    padding-top: 20px;
    color: #000000;
    margin: 0 0 70px 0;
}
